body{
    margin: 100;
    align-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

table, td, tr{
    text-align: center;
    margin: 100;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}